@using EPiServer.ServiceLocation
@using EPiServer
@using EPiServer.Filters
@model StandardPage

@{
    var currentContentLink = Html.ViewContext.HttpContext.GetContentLink();
    var contentLoader = ServiceLocator.Current.GetInstance<IContentLoader>();
    var menuItems = contentLoader.GetChildren<PageData>(ContentReference.StartPage)
        .Where(x => x.VisibleInMenu && !new FilterPublished().ShouldFilter(x) && !new FilterAccess().ShouldFilter(x));
}
@if (Model.CssFramework == CssFramework.Bootstrap)
{
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark p-2">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="bi bi-list"></i></span>
            </button>
            <a class="navbar-brand" href="/">Start</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    @{
                        foreach (var item in menuItems)
                        {
                            <li class="nav-item">
                                @Html.PageLink(item, null, new {@class = "nav-link"})
                            </li>
                        }
                    }
                </ul>
            </div>
            @{
                if (!Context.User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-outline-success" href="/util/login">Login</a>
                }
            }
        </nav>
    </header>
}
else
{
    <div class="top-bar">
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="/">Start</a></li>
                    @{
                        foreach (var item in menuItems)
                        {
                            <li>
                                @Html.PageLink(item, null, null)
                            </li>
                        }
                    }
            </ul>
        </div>
    </div>
}


