@model RenderingLayoutProcessor.Models.ClearRenderingBlock
@using EPiServer.Editor
@inject IContextModeResolver contextModeResolver

@if (contextModeResolver.CurrentMode == ContextMode.Edit)
{
    <div class="alert alert-dark alert-editmode" style="padding: 3px 6px 6px;">
        <div class="text-center fw-bold" style="font-size: 12px">@(((IContent)Model).Name)</div>
        <div class="row align-center">
            <div class="col">
                <hr style="border-color: #000; background-color: #000;"/>
            </div>
        </div>
    </div>
}
