@model Site.Models.MultiCol.MulticolumnListLayoutBlock
@using EPiServer.Editor
@using Site.Models.MultiCol

@if (PageEditing.PageIsInEditMode)
{
    <div class="alert alert-dark alert-editmode" style="padding: 3px 6px 6px;">
        <div class="text-center fw-bold" style="font-size: 12px">@(((EPiServer.Core.IContent)Model).Name)</div>
        <div class="row align-center">
            @for (int x = (int)Model.ColumnCount - 1; x >= 0; x--)
            {
                <div class="@Model.ColumnCount.ColumnCssClass(Model.ColumnsBreakPoint)"><hr style="margin: 3px 0; border-color: #000; background-color: #000;" /></div>
            }
        </div>
    </div>
}
